# Build folder and log file
build/
build.log
.DS_Store
build.log
build/*
Resources/*
npm-debug.log
tmp
.map
*.svn
*.suo
*.user
*.tmp
bin
Bin
obj
dirtyflag.txt
.settings/
.fastdev.lock
build
node_modules
Resources
.ntvs_analysis.dat
npm-debug.log
.*.swp
.lock-*
build/
dist/*
.vs